.searchBar {
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.form {
    display: flex;
    column-gap: 8px;
}

.input {
    width: 340px;
}

.btn {
    min-width: 80px;
    color: black;
    font-size: 12px;
    background-color: white;
    transition:
        color 250ms linear,
        background-color 250ms linear;
}

.btn:hover,
.btn:focus {
    background-color: black;
    color: white;
}

.input,
.btn {
    padding: 8px 8px;
    border: none;
    border-radius: 8px;

}