@import 'modern-normalize/modern-normalize.css';

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-bottom: 16px;
  text-align: center;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionMovies {
  padding-top: 0;
}

.pageNotFound {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.pageNotFound .linkHome {
  font-size: 18px;
  padding: 8px 12px;
  background-color: antiquewhite;
  border-radius: 16px;
  transition:
    background-color 250ms linear,
    color 250ms linear;
}

.pageNotFound .linkHome:hover,
.pageNotFound .linkHome:focus {
  background-color: black;
  color: white;
}